---
import MainLayout from "../layout/MainLayout.astro"
---

<MainLayout>
	<img src="/public/img/karrusel_forside.webp" alt="">
    <h1 class="hero">KARRUSEL</h1>
    <h1 class="subhero">2025</h1>
    <a href="#">Buy Now</a>
    <h1>LINEUP 28-30 AUGUST</h1>
    <div class="line-up">
        <div>
        <p>ANETHA</p> 
        <p>BEN BOHMER</p>
        <p>JOB JOBSE</p>
        <p>KI/KI</p>
        <p>MARLON HOFFSTADT</p>
        <p>NENE H</p>
        <p>SAMA' ABDULHAD</p>
        <p>VIKEN ARMAN</p>
        <p>X CLUB</p>
        </div>
    </div>
</MainLayout>

<style>
    .line-up {
        display: grid;
    }
</style>
