---
import MainLayout from "../layout/MainLayout.astro"
---

<MainLayout>
	<img src="/public/img/karrusel_forside.webp" alt="">
    <h1 class="hero">KARRUSEL</h1>
    <h1 class="subhero">2025</h1>
    <a href="#">Buy Now</a>
    <h1>LINEUP 28-30 AUGUST</h1>
    <div class="line-up">
        <div>
        <a href="#">ANETHA</a> 
        <a href="#">BEN BOHMER</a>
        <a href="#">JOB JOBSE</a>
        <a href="#">KI/KI</a>
        <a href="#">MARLON HOFFSTADT</a>
        <a href="#">NENE H</a>
        <a href="#">SAMA' ABDULHAD</a>
        <a href="#">VIKEN ARMAN</a>
        <a href="#">X CLUB</a>
        <a href="#">DOOB & JANOMA</a>
        <a href="#">JUICY ROMANCE</a>
        <a href="#">NANDU</a>
        <a href="#">OBERST & BUCHNER</a>
        <a href="#">PEACHLYFE</a>
        <a href="#">PRETTY GIRL</a>
        <a href="#">TOMMIBOY</a>
        </div>
    </div>
</MainLayout>

<style>
    .line-up {
    }
</style>
