---
const { variant } = Astro.props;
---

<button class={variant}>
  <slot />
</button>

<style>
  .primary {
    color: var(--hvid-100);
    background-color: var(--pink-100);
    border: var(--pink-100) solid 2px;
    font-size: var(--font-size-p-tiny);
    padding: 12px 10px 12px 10px;
    font-family: "Montserrat", sans-serif;
    border-radius: var(--border-radius-small);
  }
  .primary:hover {
    color: var(--lilla-misc);
  }
  .second {
    color: var(--hvid-100);
    background-color: transparent;
    border: var(--pink-100) solid 2px;
    font-size: var(--font-size-p-button);
    padding: 15px 40px 15px 40px;
    font-family: "Montserrat", sans-serif;
    border-radius: var(--border-radius-large);
  }
  .second:hover {
    background: var(--pink-100);
  }
  .third {
    color: var(--hvid-100);
    background-color: transparent;
    border: var(--pink-100) solid 2px;
    font-size: var(--font-size-p-button);
    padding: 15px 40px;
    font-family: "Montserrat", sans-serif;
    border-radius: var(--border-radius-large);
  }
  .third:hover {
    background: var(--pink-100);
  }

  /* Sizes */
</style>
