---
const { data } = Astro.props;
---

<a href={`/artister/${data.slug}`}></a>

<li>
<article class="grid">
    <div>
    <img src="/img/anetha.webp" />
    </div>
    <div class="tekst_card">
    <h4>{data.dag} {data.tid}</h4>
    <h4>{data.name}</h4>
     <hr>
    <button></button>
    </div>
</article>
</li>

<style>
article {
    margin-inline: -5rem;
    border: solid;
    border-radius: var(--border-radius-large);
    border-color: var(--pink-100);
    }
 @media (max-width: 750px) {
    img, hr, button {
        display: none;
    }

 }

  @media (min-width: 750px) {
     img {
    border: solid;
    border-radius: var(--border-radius-large);
    border-color: var(--pink-100);
     }
 
     .tekst_card {
    border: solid;
    border-radius: var(--border-radius-large);
    border-color: var(--pink-100);
     }

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

 }
</style>