---
const { data } = Astro.props;
---

<a href={`/artister/${data.slug}`}></a>

<li>
<article class="grid">
    <div>
    <img src="/img/anetha.webp" />
    </div>
    <div class="tekst_card">
    <h4>{data.dag} {data.tid}</h4>
    <h4>{data.name}</h4>
     <hr>
    <button></button>
    </div>
</article>
</li>

<style>
</style>