---

---

<footer>
  <div class="banner">
    <div class="rul">
      <p>THREE DAYS OF HOUSE DISCO & TECHNO IN THE WOODS<span>&#x2022;</span>THREE DAYS OF HOUSE DISCO & TECHNO IN THE WOODS<span>&#x2022;</span>THREE DAYS OF HOUSE DISCO & TECHNO IN THE WOODS<span>&#x2022;</span></p>
    </div>
  </div>
  <div class="lilla_streg">
    <p>Streg</p>
  </div>
  <div class="footer_flex">
    <div>
      <h4>Contact</h4>
      <p>info@nusnus.dk</p>
      <p>Karrusel is organized by Nus Nus</p>
    </div>
    <div>
      <h4>Opening hours</h4>
      <p>Thursday: 18:00-.01.00</p>
      <p>Friday: 18:00-04.00</p>
      <p>Saturday: 18:00-03.00</p>
    </div>
    <div class="footer_logo">
      <img src="../../img/karrusel-logo_hvid.webp" alt="Logo" />
      <p>Refshalevej 193, 1432 Copenhagen</p>
    </div>
  </div>
</footer>
<style>
  .footer_flex {
    display: flex;
    gap: 8rem;
  }
  footer {
    margin: -3rem;
  }
  .footer_logo {
    width: 150px;
    height: 90.75px;
    margin-left: 11rem;
  }
  .footer_logo p {
    font-size: var(--font-size-p-tiny);
    white-space: nowrap;
    margin-left: -2rem;
  }
  .lilla_streg {
    background-color: var(--lilla-misc);
    margin: 1rem;
  }
  .lilla_streg p {
    color: transparent;
    max-height: 4px;
  }
  .banner p {
    color: var(--pink-100);
    font-size: var(--font-size-h3);
    font-family: "Staatliches", sans-serif;
    white-space: nowrap;
  }
  span {
    color: var(--pink-100);
    font-size: 4rem;
  }
  .rul {
    animation-name: rul_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   max-width: 65ch;
  }
  @keyframes rul_kf {
    from {
      translate: -300% 0;
    }
    to {
      translate: 120% 0;
    }
  }
  @media screen and (max-width: 800px) {
    footer {
      margin: -3rem;
    }
    .lilla_streg {
      background-color: var(--lilla-misc);
      margin: 1rem;
    }
    .lilla_streg p {
      color: transparent;
      max-height: 4px;
    }
    .banner p {
      display: none;
    }
    .footer_logo {
      width: 150px;
      height: 90.75px;
      margin-left: -11rem;
      display: none;
    }
    footer h4 {
      font-size: var(--font-size-p);
    }
    footer p {
      font-size: var(--font-size-p-tiny);
    }
    .footer_flex {
      gap: 0rem;
    }
  }
</style>
