<header>
  <div class="logo">
    <a href="/">
      <img src="/public/img/karrusel-logo_hvid.webp" alt="Logo" />
    </a>
  </div>
  <!-- <div>
    <p>28-30 AUG</p>
  </div> -->
  <nav>
    <ul class="menu">
      <li><a href="/">Program</a></li>
      <li><a href="/" ">Practical info</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Follow us</a></li>
      <li><a href="/">Volunteer</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lilla-100);
  }

  .logo img {
    width: 150px;
    height: 90.75px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    color: var(--hvid-100);
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-size: var(--font-size-p);
  }

  .menu a:hover {
    color: var(--pink-100);
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: #fff;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 24px;
    }
  }
</style>
