---
import Card from "../../components/Card.astro"; 
import MainLayout from "../../layout/MainLayout.astro"
const { data } = Astro.props;
console.log (data);
const artister = await fetch ("https://duwvvdxxtpowzjidyhdp.supabase.co/rest/v1/t8_data", {
	method: "GET",
	headers: {
		apikey:
		"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1d3Z2ZHh4dHBvd3pqaWR5aGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MDIwMjIsImV4cCI6MjA0NTA3ODAyMn0.Qudv8UOTlmGvhWqfdmcJvan1dtmVfn7_7kv41HtP5N8" 
	},
} 
).then((res) => res.json()); 
const { artist = []} = Astro.props;
const thursdayArtist= artister.filter((a) => a.dag === "THURSDAY");
const fridayArtist = artister.filter((a) => a.dag === "FRIDAY");
const saturdayArtist = artister.filter((a) => a.dag === "SATURDAY");

---

<MainLayout>
<a href="#thursday">THURSDAY</a>
<a href="#friday">FRIDAY</a>
<a href="#saturday">SATURDAY</a>
<section id = thursday class="skjul">
<h2>THURSDAY</h2>
{thursdayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>

<section id = friday class="skjul">
<h2>FRIDAY</h2>
{fridayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>

<section id = saturday class="skjul">
<h2>SATURDAY</h2>
{saturdayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>
</MainLayout>

<style>
h2 {
	margin: 4rem;
}
</style>

<script></script>