---
import Card from "../../components/Card.astro"; 
import MainLayout from "../../layout/MainLayout.astro"
const { data } = Astro.props;
console.log (data);
const artister = await fetch ("https://duwvvdxxtpowzjidyhdp.supabase.co/rest/v1/t8_data", {
	method: "GET",
	headers: {
		apikey:
		"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1d3Z2ZHh4dHBvd3pqaWR5aGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MDIwMjIsImV4cCI6MjA0NTA3ODAyMn0.Qudv8UOTlmGvhWqfdmcJvan1dtmVfn7_7kv41HtP5N8" 
	},
} 
).then((res) => res.json()); 
const { artist = []} = Astro.props;
const thursdayArtist= artister.filter((a) => a.dag === "THURSDAY");
const fridayArtist = artister.filter((a) => a.dag === "FRIDAY");
const saturdayArtist = artister.filter((a) => a.dag === "SATURDAY");

---

<MainLayout>
<a href="https://duwvvdxxtpowzjidyhdp.supabase.co/rest/v1/t8_data">THURSDAY</a>
<a href="https://duwvvdxxtpowzjidyhdp.supabase.co/rest/v1/t8_data">FRIDAY</a>
<a href="https://duwvvdxxtpowzjidyhdp.supabase.co/rest/v1/t8_data">SATURDAY</a>
<h1>THURSDAY</h1>
<section id = thursday class="skjul">
{thursdayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>

<h1>FRIDAY</h1>
<section id = friday class="skjul">
{fridayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>

<h1>SATURDAY</h1>
<section id = saturday class="skjul">
{saturdayArtist.map((artist) => (
      <Card data={artist} />
  	))}
</section>


	<!-- <a href="">THURSDAY</a>
	<a href="">FRIDAY</a>
	<a href="">SATURDAY</a> -->
<!-- <ul>
  {
  	artister.map((artist) => (
      <Card data={artist} />
  	))
  }
</ul>  -->
</MainLayout>

<script>
	
</script>